@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    overflow: overlay;
    text-rendering: optimizeSpeed;
}
 html {
    overflow: auto;
}

html * {
    scrollbar-width: none; /* Firefox */
}

html *::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

